@font-face {
  font-family: rubik;
  src: url(Rubik-Regular.ttf);
}

body{
  margin: 0 20px;
  font-size: 20px;
}


p{
  font-family: rubik;
}
h1, h2 {
  font-family: Lato;
  text-align: center;
  color: #333;
}

input {
  width: 100%;
  border: 1px solid #666;
  border-radius: 3px;
  padding: 7px 5px;
}

ul{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

ul li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

li.completed span{
  text-decoration: line-through;
  color: red;
}

li.completed .btn-check{
  color: red;
}

.btn-check{
  margin-right: 10px;
}

.btn-remove{
  margin-left: auto;
  color: red;
}